body{
    background-color:cadetblue;
  }
  .navigationbar{
    height:80px;
    width:100%;
    background: black;
    margin-top:10px;
    display: inline-flex;
    justify-content: space-between;
  text-decoration: none;
  
  }
a{
    text-decoration: none;
  }
  .logo {
    margin-top: 5px;
    padding:10px;
    border-radius:50%;
    border:1px solid black;
    background-color:rgb(255, 255, 255);
    margin-left: 20px;
    height:"50px" ;
    width:"50px";
  }
  .portfolio{
    text-align: center;
    color: aliceblue;
    padding: 20px 0 0 500px;
    font-size: 30px;
  }
  .navigationbar ul{
   
    margin-right:20px;
    float:right;
    padding-left: 450px;
    display: inline-flex;
    list-style: none;
  
  }
  .navigationbar ul li a{ 
    
    display: inline-flex;
    padding: 10px ;
    color: white;
    text-decoration: none; 
    font-size: 20px;
    margin-left:5px;
    
  }
  .navigationbar ul li.Home,
  .navigationbar ul li:hover{
    background:rgb(241, 110, 16);
    border-radius: 10px;
  }
  
  
  h1{
    font-style: italic;
    padding: 20px;
    
  }
  h2{
    font-family: unset;
    font-style:italic;
    padding-left: 20px;
    
  }
  .image{
    float: right;
    margin: 30px;
    
  }
  .text{
    padding-top: 35px;
    font-size: 20px;
    font-family: cursive;
    color: white;
    padding-left: 20px;
  
  }